**Reverse List**

In [4]:
Mylist = [1,2,3,4,5,6]
print(Mylist)

v1ReversedList = Mylist[::-1]
print(v1ReversedList)

v2ReversedList = Mylist[-1::-1]
print(v2ReversedList)

[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]
[6, 5, 4, 3, 2, 1]

**Tuple Operation**

In [15]:
Tp1 = (1, 2, 4, 10, 'Hello', 'World')
Tp2 = ('My name', 'is', 'Python.')

print(Tp1[2])
print(Tp1[2:])
print(Tp1[2::-1])
print(Tp1 + Tp2)
print(Tp2 * 2)
print(Tp1 + (2,))

4
(4, 10, 'Hello', 'World')
(4, 2, 1)
(1, 2, 4, 10, 'Hello', 'World', 'My name', 'is', 'Python.')
('My name', 'is', 'Python.', 'My name', 'is', 'Python.')
(1, 2, 4, 10, 'Hello', 'World', 2)

**Set Operation**

In [18]:
NumberList = [1,5,23,5,1,23,123,23,11]

EmptySet = set()
NormalSet = {1,2,3,4,'names', 'salaries', 'address'}
GenerationSet = set('abcdefghijklmn')
NumberSet = set(NumberList)
NumberInCharSet = set('12345672341235')

#elements in a set is unique

print(EmptySet)
print(NormalSet)
print(GenerationSet)
print(NumberSet)
print(NumberInCharSet)

set()
{1, 2, 3, 4, 'names', 'salaries', 'address'}
{'d', 'f', 'j', 'c', 'a', 'g', 'm', 'l', 'n', 'e', 'i', 'k', 'h', 'b'}
{1, 5, 11, 23, 123}
{'4', '2', '7', '3', '5', '1', '6'}

**Typewise Transformation**

In [26]:
# To int: int is absolutely based with 10
print(int(input()))     #Readable buffer
print(int(1234))        #Int itself. (can't assign any base, even 10.)
print(int('12'))        #String
print(int('0x6A',base=16)) #String assigned with a base   6A (based 16) = 106 (based 10)
print(int('6A',base=16)) #String assigned with a base   6A (based 16) = 106 (based 10)
print(int('6A',base=12)) #String assigned with a base   6A (based 12) = 82 (based 10)

#To complex:

1
12
106
106
82